/* ------------------------------------------------------------------------------
 *
 *  # Components
 *
 *  Common less file with imports of plugins and pages
 *
 *  Version: 1.3
 *  Latest update: Feb 5, 2016
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Global less file
 *
 *  Common less file with imports of plugins and pages
 *
 *  Version: 1.0
 *  Latest update: Feb 5, 2016
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
*
*  # Utilites
*
*  Additional animations, transitions, transforms and other utilities
*
*  Version: 1.0
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------
 *
 *  # jGrowl notifications
 *
 *  Styles for jgrowl.min.js - an unobtrusive notification system for web applications
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */
.jGrowl {
  z-index: 2001;
  position: absolute;
}
body > .jGrowl {
  position: fixed;
}
.jGrowl.top-left {
  left: 20px;
  top: 20px;
}
.jGrowl.top-center {
  left: 50%;
  top: 20px;
  margin-left: -150px;
}
.jGrowl.top-right {
  right: 20px;
  top: 20px;
}
.jGrowl.center {
  top: 40%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -35px;
}
.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}
.jGrowl.bottom-left {
  left: 20px;
  bottom: 20px;
}
.jGrowl.bottom-center {
  left: 50%;
  bottom: 20px;
  margin-left: -150px;
}
.jGrowl.bottom-right {
  right: 20px;
  bottom: 20px;
}
@media print {
  .jGrowl {
    display: none;
  }
}
.jGrowl-notification {
  margin-bottom: 10px;
  width: 300px;
  text-align: left;
  display: none;
}
.jGrowl-notification .jGrowl-header {
  font-size: 15px;
  margin-bottom: 5px;
}
.jGrowl-notification .jGrowl-header:empty {
  margin: 0;
}
.jGrowl-notification .jGrowl-close {
  font-weight: 300;
  background: none;
  border: 0;
  font-size: 17px;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  float: right;
  color: inherit;
  outline: 0;
  margin-left: 10px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.jGrowl-notification .jGrowl-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.jGrowl-closer {
  padding: 5px 0;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  background-color: #fff;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #999999;
}
.alert-rounded + .jGrowl-closer {
  border-radius: 5px;
}
.bg-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
}
.bg-danger {
    background-color: #F44336;
    border-color: #F44336;
    color: #fff;
}
.bg-info {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #fff;
}

/* ------------------------------------------------------------------------------
 *
 *  # Sweet alerts
 *
 *  Styles for sweet_alert.min.js - A beautiful replacement for JavaScript's "Alert"
 *
 *  Version: 1.1
 *  Latest update: Oct 28, 2015
 *
 * ---------------------------------------------------------------------------- */
/* # Core
-------------------------------------------------- */
